/* import roboto font from google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    background-image: url('images/bgimg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.topnav {
    background-color: #33333349;
    overflow: hidden;
    color: rgb(214, 210, 210);
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.mainpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-box {
    margin-top: 13em;
    background-color: #dadadac8;
    padding: 10%;
    border-radius: 8px;
    max-width: 10%;

}