@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100;400;500;700&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100vh; 
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    font-size: large;
    font-weight: bold;

}
.sidemenu {
    background-color: #f5f1f1; 
    padding: 2em;
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-left: 5%;

}

.header {
    margin-bottom: 20%;
    padding-left: 2em;
}

.todo-menu {
    margin-bottom: 30%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
}



.project-menu {
    padding-left: 10%;
}

.project-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.add-todo {
    color: rgb(255, 136, 0);
}
.add-todo, .today-todo, .upcoming-todo {
border: none;
background: none;
display: flex;
flex-direction: row;
gap: 10%;
width: 100%;
padding-top: 5%;
padding-bottom: 5%;
}


.project-add {
    border: none;
    background: none;

}

.projects {
margin-bottom: 30%;
padding-left: 5%;
display: flex;
flex-direction: column;
gap: 10%;
width: 100%;
}

.project-header {
    padding-top: 5%;
    padding-bottom: 5%; 
    margin-bottom: 5%;

}

.project {
    border: none;
background: none;
display: flex;
flex-direction: row;
gap: 10%;
width: 100%;
padding-top: 5%;
padding-bottom: 5%;
}


.mainarea {
    background-color: #ffffff; 
    padding: 20px;
}

.todo-menu > button:hover {
    background-color: #ffffff;
}

.project-menu button:hover {
    background-color: #ffffff;
}

.project-header {
    padding-top: 5%;
    padding-bottom: 5%; 
}


.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 30%; 
    max-width: 500px; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.modal-content form {
    display: flex;
    flex-direction: column; 
    width: 100%; 
}

.modal-content form input,
.modal-content form select,
.modal-content form textarea {
    margin-bottom: 20px; 
    height: 2.5em; 
    border: none;
}



.task-name-input::placeholder {
    font-size: 1.5em; 
}

.add-task-button {
    background-color: #ff7700af;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;

}

.modal-content form input:focus,
.modal-content form select:focus,
.modal-content form textarea:focus {
    outline: none; 
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.today-page, .upcoming-page {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.today-list, .upcoming-list {
    display: grid;
    grid-template-columns: 1fr;
    width: 25%;
    gap: 10px;
    margin-top: 20px;
    list-style-type: none;
}

.task-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    gap: 1em;
}

.task-name-div {
    font-size: larger;
}

.complete-checkbox {
    margin-left: auto;

}

